body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}

.footer{
  background:#020617;
  display:flex;
  justify-content:space-around;
  padding:30px;
}

.footer ul{
  list-style:none;
  padding:0;
}

.footer li{
  margin:6px 0;
}
